@import "tailwindcss";

.login-container{
  @apply min-h-screen flex items-center justify-center bg-gradient-to-br
  from-green-200 via-blue-600 to-white p-4;
}

.login-box{
  @apply bg-gradient-to-t from-black/80 to-black/70 backdrop-blur-lg
  rounded-2xl p-10 w-full max-w-[420px] shadow-2xl border border-indigo-500/20;
}

.login-title{
  @apply bg-gradient-to-r from-green-300 to-blue-200 bg-clip-text
  text-transparent text-4xl font-bold text-center mb-2;
}

.login-subtitle{
  @apply text-gray-400 text-center mb-8 text-xl;
}

.login-form {
  @apply flex flex-col gap-6;
}

.form-group {
  @apply flex flex-col gap-2;
}

.form-label{
  @apply text-pink-200 text-sm font-medium;
}

.form-input{
  @apply bg-gradient-to-r from-black/40 to-black/30 text-gray-100
  rounded-md p-2 border border-indigo-500/30
  focus:border-indigo-400/50 focus:ring-2 focus:ring-indigo-500/20;
}

.form-options {
  @apply flex justify-between items-center;
}

.login-button{
  @apply bg-gradient-to-r from-green-200 to-blue-200 text-white
  border-none rounded-b-lg py-2 text-base font-medium cursor-pointer
  transition-all duration-300 hover:from-indigo-500 hover:to-blue-200
  hover:shadow-lg hover:shadow-indigo-500/30
  active:from-indigo-500 active:to-blue-200;

}

/* sidebar*/

.sidebar {
  @apply h-screen w-72 bg-gradient-to-b from-green-200 via-blue-600 to-white text-white p-6 shadow-2xl;
}

.sidebar-container{
  @apply flex flex-col gap-4;
}

.sidebar-title{
  @apply text-2xl font-bold mb-6 text-center border border-b-1 border-b-gray-400 border-t-0 border-l-0 border-r-0;
}

.sidebar-title h1 {
  @apply text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-pink-200 to-red-600;
}

.sidebar-title .btn-edit {
  @apply bg-blue-800/20 text-white px-4 py-2 rounded-md text-base font-medium;
}

.sidebar-title .btn-logout{
  @apply bg-red-600/80 text-white px-4 py-2 rounded-md text-base font-medium;
}

.sidebar-nav-list{
  @apply space-y-3;
}

.sidebar-nav-item{
  @apply hover:bg-white/20 rounded-lg p-2 transition-colors;
}

.sidebar-nav-link {
  @apply flex items-center gap-2 cursor-pointer hover:bg-white/30 p-2 rounded-lg transition-colors;
}

.sidebar-nav-link-active{
  @apply flex items-center gap-2 cursor-pointer bg-white/30 p-2 rounded-lg transition-colors;
}

.button{
  @apply bg-gradient-to-br from-yellow-600 to-black/50 text-white rounded-lg py-2 px-4;
}

/* Table */

.button-add {
  @apply bg-blue-800/80 text-white px-4 py-2 rounded-md text-base font-medium;
}

.table-container {
  @apply w-full overflow-x-auto shadow-lg rounded-lg;
}

.table {
  @apply min-w-full bg-white border-collapse;
}

.table thead{
  @apply bg-gradient-to-r from-yellow-600 to-red-600;
}

.table th {
  @apply text-left text-white px-6 py-4 text-sm font-semibold tracking-wider;
}

.table tbody tr {
  @apply border-b border-gray-200 hover:bg-gray-50 transition-colors;
}

.table td {
  @apply px-6 py-4 text-sm text-gray-400 whitespace-nowrap;
}

.table-action-btn{
  @apply px-3 py-1 rounded-md text-sm font-medium;
}

.table-edit-btn {
  @apply bg-gradient-to-r from-blue-500 to-red-600 text-white rounded-md hover:from-indigo-500 hover:to-red-400;
}

.table-delete-btn {
  @apply bg-gradient-to-r from-red-500 to-red-600 text-white rounded-md hover:from-red-500 hover:to-red-600;
}

.modal{
  @apply fixed inset-0 z-50 flex items-center justify-center;
  backdrop-filter: blur(8px);
  @apply bg-black/50;
}


